<h1>To Do List</h1>
<div class="todos">
    <div class="new-todo-bar">
      <input id="new-todo" type="text"  placeholder="Add a new item" name="newList" [(ngModel)]="newList"/>
      <button class="add-btn" type="submit" (click)="addnewText(newList); newList=''" [disabled]="newList===''">+</button>
    </div>
    <ul class="todo-list">

        <!------- To loop through list ------->
        <li *ngFor="let list of listToDo">
            <span>{{list}}</span>
            <button class="delete-btn" (click)="deleteList(list)">Delete</button>
        </li>
        <p *ngIf = "listEmpty; else elseBlock" class="bonus">Your To Do List is Empty!</p>
        <ng-template #elseBlock></ng-template>
    </ul>
</div>